<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="beitmemcached" type="System.Configuration.NameValueSectionHandler" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ElementSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <beitmemcached>
    <add key="CacheServer" value="127.0.0.1" />
  </beitmemcached>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="c:\log\ABCService${date:format=yyyy-MM-dd}.log" layout="${longdate} ${callsite} ${level} ${message}" />
      <target name="console" xsi:type="Console" />
      <target xsi:type="EventLog" name="event" layout="${message}" source="IntegratedPositionService" eventId="555" log="Application" />
    </targets>
    <rules>
      <logger name="*" minLevel="Error" writeTo="event" />
      <logger name="*" minLevel="Info" writeTo="console" />
      <logger name="*" minLevel="Info" writeTo="logfile" />
    </rules>
  </nlog>
  <appSettings>
    <add key="ProcessEnvironment" value="UAT" />
    <add key="AvgColumnSize" value="200" />
    <add key="CompressionRatio" value="3" />
    <!-- server -->
    <add key="MemCachedExecutable" value="D:\Rbccm.Polypaths.ABC\trunk\ext\memcached.exe" />
    <add key="MemCachedExeArgs" value="-d runservice" />  
    <!--<add key="ServerName" value="54.200.71.177" />-->
    <add key="ServerName" value="127.0.0.1" />
    <add key="WatchProgramFlow" value="True" />
    <add key="WatchData" value="True" />
    <add key="WatchConnectAndDisconnect" value="True" />
    <add key="RunLongTest" value="False" />
    <add key="WatchThreads" value="True" />
    <add key="Port" value="4506" />
    <add key="BufferSize" value="800" />
    <add key="MktInterval" value="100" />
    <add key="Backlog" value="256" />
    <add key="MxSimultaneousAcceptOps" value="800" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="username" value="abcoinrpc"/>
    <add key="password" value="8PnwWUngNqJYq74VQaXV37vfQvfnQW7CxnVcFuGSNhvb"/>
    <add key="serverip" value="http://localhost.:6162"/>

  </appSettings>
  <userSettings>
    <ElementSample.Properties.Settings>
      <setting name="test" serializeAs="String">
        <value>test</value>
      </setting>
    </ElementSample.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="POLYPATH_DB" connectionString="server=DNYSQLGEN1;database=PolyPaths;Integrated Security = SSPI;Connection Lifetime=0;Min Pool Size=5;Max Pool Size=50;Pooling=true;Connect Timeout=120000" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>