<?xml version="1.0"?>
<configuration>
  <configSections>
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ElementSample.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
   <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="C:\Abcoin-0.8.6\log\service${date:format=yyyy-MM-dd}.log" layout="${longdate} ${callsite} ${level} ${message}"/>
      <target name="console" xsi:type="Console" />
      <target xsi:type="EventLog"
				 name="event"
				 layout="${message}"
				 source="AbcoinServerService"
				 eventId="555"
				 log="Application"
					 />
    </targets>
    <rules>
      <logger name="*" minLevel="Error" writeTo="event" />
      <logger name="*" minLevel="Info" writeTo="console" />
      <logger name="*" minLevel="Info" writeTo="logfile"/>
    </rules>

  </nlog>

  <appSettings>
    <!-- server -->
    <add key="ServerName" value="localhost"/>
   
  </appSettings>
  
  <userSettings>
    <ElementSample.Properties.Settings>
      <setting name="test" serializeAs="String">
        <value>test</value>
      </setting>
    </ElementSample.Properties.Settings>
  </userSettings>
  
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
